my-homepage {
  .first-section {
    padding-top: 80px;
    max-width: 1200px;
    margin: 0 auto;
    .left {
      max-width: 564px;
      cu-text:first-of-type {
        .text {
          line-height: 100%;
          margin-bottom: 32px;
          margin-top: 64px;
          letter-spacing: -0.04em;
          font-weight: 800;
        }
      }
      cu-text:nth-of-type(2) {
        .text {
          line-height: 1.6;
        }
      }
      .btns-wrapper {
        display: flex;
        margin-top: 40px;
        margin-bottom: 220px;
        my-btn:last-of-type {
          margin-left: 10px;
        }
      }
    }
    .right {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-64px, -50%);
      margin-top: 20px;
    }
    cu-text.bottom-heading {
      .text {
        font-weight: 600;
        max-width: 320px;
        margin-bottom: 40px;
      }
    }
    .img-grid {
      display: flex;
      justify-content: space-between;
      padding-bottom: 80px;
    }
  }
  hr {
    border-top-width: 1px;
  }
  .second-section {
    margin: 160px auto 36px auto;
    width: 1152px;
    display: flex;
    f-heading {
      width: 40%;
      padding-right: 50px;
    }
    ul {
      width: 60%;
      columns: 2;
      .li {
        margin-bottom: 12px;
        line-height: 1.4;
      }
    }
  }
  .grey-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 18px 0;
    background-color: #f4f7fa;

    cu-text:nth-of-type(1) {
      margin: 20px 0;
      font-weight: bold;
    }
    cu-text:nth-of-type(2) {
      margin-bottom: 80px;
    }
  }
  .third-section {
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(249, 250, 251) 100%);
    padding: 160px 0;
    .container {
      width: 1152px;
      margin: 0 auto;
      f-heading .heading {
        width: 420px;
      }
      .grid-advantage {
        margin-top: 120px;
      }
    }
  }
  .fourth-section {
    .row {
      margin: 160px auto 36px auto;
      width: 1152px;
      display: flex;
      .right {
        width: 60%;
        f-heading {
          width: 40%;
          padding-right: 50px;
        }
        ul {
          .li {
            margin-bottom: 12px;
            line-height: 1.4;
          }
        }
        .text {
          margin: 20px 0;
          padding-left: 40px;
          line-height: 1.7;
        }
        .button {
          margin-left: 40px;
        }
      }
    }
  }
}
