// Buttons
$primary-color-btn: #4c48ff;
$primary-darker-btn: #3d3aff;
$secondary-color-btn: #f4f4ff;
$third-color-btn: #161525;

$color-white: #fff;
$color-black: #03060b;

// Text
$title-color-text: #03060b; //Title
$subtitle-color-text: #2d4665; //Subtitle
$tabs-color-text: #414155; //tabs

//Backgrounds
$bg-color-grey: #74f7fa;

$color-1-text: #cccccc;
$color-3-text: #7a798d;
$color-4-text: #100f22;
